category-encoders
certifi
chardet
click
Flask
gunicorn
idna
itsdangerous
Jinja2
joblib
jsonify
MarkupSafe
numpy
pandas
patsy
python-dateutil
pytz
requests
scikit-learn
scipy
six
statsmodels
urllib3
Werkzeug
wincertstore
